# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, OS/macOS.gitignore

## User settings
xcuserdata/

## Build results
DerivedData/
build/

## Usage reports
*.gcno

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
.build/

## Archive Settings
# (Optional) If you want to include archives, comment out the line below
# *.xcarchive

## macOS
.DS_Store
*.swp
*.lock

## CocoaPods
# (If you add pods later)
# Pods/
# *.xcworkspace
